<a href="https://colab.research.google.com/github/bapadiro/Python_DataScience_Primeiros_Passos/blob/main/manipulando_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Começando com Python...

In [ ]:
print('Olá Mundo!')

Olá Mundo!

In [ ]:
print(29)

29

In [ ]:
print('Bárbara Diogo,', 29, 'Anos')

Bárbara Diogo, 29 Anos

In [ ]:
print('Escola de Dados Alura!')

Escola de Dados Alura!

##Manipulando Dados com Python
**int: número inteiro |**
**float: números flutuantes |**
**str: string, texto |**
**bool: lógico, verdadeiro ou falso**

In [20]:
idade = 5

In [22]:
print(idade)

5

In [23]:
idade = 10
print(idade)

10

In [24]:
idade = 15
idade

15

In [25]:
nome = 'Eric'
nome

'Eric'

In [26]:
'''para saber a classe de cada elemento usamos a função type()'''
i = 5
type(i)

int

In [28]:
f = 9.5
type(f)

float

In [29]:
s = 'Data Sciente'
type(s)

str

In [30]:
b = True
type(b)

bool

In [31]:
'''Em conjunto de dados escolares podemos ter vários tipos de informações'''
'''Digamos que tenhamos acesso à ficha de dados do aluno Fabrício Daniel'''
'''Como transformarmos ela em variáveis no Python?'''

nome_aluno = 'Fabrício Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno, idade_aluno, media_aluno, situacao_aprovado)

Fabrício Daniel 15 8.45 True

In [32]:
'''Temos uma tabela de informação de empregos quanto ao cargo, quantidade'''
'''de pessoas empregadas e o salário'''
'''Segurança 5 3000'''
'''Docente 16 6000'''
'''Diretoria 1 12500'''
'''Precisamos trabalhar com esses dados forncendo: '''
'''A quantidade total de empregados'''
'''A diferença entre o salário mais baixo e mais alto'''
'''A média ponderada da faixa salarial da escola'''

q_seguranca = 5
s_seguranca = 3000
q_docente = 16
s_docente = 6000
q_diretoria = 1
s_diretoria = 12500

In [33]:
'''Quantidade total de empregados'''
total_empregados = q_seguranca + q_docente + q_diretoria
total_empregados

22

In [34]:
'''Diferença entre o salário mais baixo e mais alto'''
diferenca_salario = s_diretoria - s_seguranca
diferenca_salario

9500

In [35]:
'''A média ponderada da faixa salarial da escola'''
media_ponderada = (q_seguranca * s_seguranca + q_docente * s_docente + q_diretoria * s_diretoria) / (total_empregados)
media_ponderada

5613.636363636364

In [36]:
'''Potencia definida'''
2**3

8

In [37]:
operador = 2
potencia = 3
operador ** potencia

8

In [38]:
'''Return resultado da divisao inteira (é o número que sobra quando a divisão não é exata!!!)'''
7%3

1

In [39]:
dividendo = 7
divisor = 3
dividendo % divisor

1

In [40]:
'''Return o resultado da divisao inteira entre dois números, ou seja, return apenas a parte inteira!!!'''
7//3

2

In [41]:
numerador = 7
denominador = 3
numerador // denominador

2

In [46]:
'''Strings são caracterizadas por ter um conjunto de caracteres formando um texto'''
'''Strings podem ser criadas ao atribuimos a uma váriavel um dado que esteja ' ou '' '''
s1 = 'Alura'
s2 = "Alura"
print(type(s1), type(s2))

<class 'str'> <class 'str'>

In [48]:
'''Método: Funções que são associadas a objetos em Python'''
'''As váriaveis textuais contém vários métodos que nos ajudam a formatar strings'''
'''Métodos podem ser excecutados seguindo a seguinte estrutura objeto.metodo() - as vezes ñ precisa dos ()'''

'''Recebemos uma váriavel com o nome de uma professora da escola para inserirmos no cadastro. No entando,'''
'''precisamos tratar esse texto antes de inserirmos no sistema'''
texto = ' Geovana Alessandra dias Sanyos '
'''Objetivo final é que o nome esteja da seguinte forma:'''

'Objetivo final é que o nome esteja da seguinte forma:'

In [49]:
'''GEOVANA ALESSANDRA DIAS SANTOS| STR.UPPER(). CONVERTE A STR PARA MAIÚSCULAS'''
texto.upper()

' GEOVANA ALESSANDRA DIAS SANYOS '

In [50]:
'''STR.LOWER(). CONVERTE A STR PARA MINÚSCULA'''
texto.lower()

' geovana alessandra dias sanyos '

In [51]:
'''STR.STRIP(). MÉTODO REMOVE OS ESPAÇOS EM BRANCO DO INÍCIO E DO FIM'''
texto.strip()

'Geovana Alessandra dias Sanyos'

In [52]:
'''STR.REPLACE(). SUBSTITUI TODAS AS OCORRÊNCIAS DO TEXTO "ANTIGO" NA STR POR "NOVO"'''
texto.replace('y','t')

' Geovana Alessandra dias Santos '

In [53]:
texto = texto.strip().replace('y', 't').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

In [54]:
'''Coletar e Manipular Dados
Em algumas aplicações precisamos coletar valores de uma pessoa do nosso projeto
Em Python conswguimos coletar essas informações através do input().
que poderá ser substituído por uma variável'''
nome = input('Digite o seu nome: ')

Digite o seu nome: Bárbara

In [55]:
nome

'Bárbara'

In [56]:
ano_entrada = input('Digite o Ano de Ingresso da Estudante: ')

Digite o Ano de Ingresso da Estudante: 2025

In [57]:
type(ano_entrada)

str

In [58]:
'''convertando para número inteiro'''
ano_entrada = int(input('Digite o Ano de Ingresso da Estudante: '))

Digite o Ano de Ingresso da Estudante: 2025

In [59]:
type(ano_entrada)

int

In [61]:
nota_entrada = float(input('Digite a nota do teste para Ingresso: '))
print(f'Ano de Entrada: {ano_entrada} - Nota do teste para Ingresso: {nota_entrada}')

Digite a nota do teste para Ingresso: 9.0
Ano de Entrada: 2025 - Nota do teste para Ingresso: 9.0

In [62]:
'''Tipo de variável vs Palavra Chave
string %s
inteiro %d
float %f
caractere %c'''

nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: %s' %(nome_aluno))

Nome do aluno: Fabricio Daniel

In [63]:
'''Caso tenha mais de uma variável, devemos ordená-las conforme seu surgimento no texto e separá-las por vírgula.'''
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.

In [64]:
'''podemos quebrar as casas decimais com %Xf (x é a quantidade de casa decimais)'''
print('Nome do aluno é %s, ele tem %d anos e sua média é %.2f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.45.

In [65]:
'''.format'''
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: {}'.format(nome_aluno))

Nome do aluno: Fabricio Daniel

In [66]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é {}, ele tem {} anos e sua média é {}.' .format(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.45.

In [67]:
'''\n é o caractere de nova linha e é usado para pular uma linha no texto (função do Enter)'''
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

Estudar é um esforço constante,
É como cultivar uma planta,
Precisamos de dedicação e paciência,
Para ver o fruto amadurecer.

In [68]:
'''\t é o caractere de tabulação usado para adicionar um espaço de tabulação no texto'''
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

In [69]:
'''\\ é usado para imprimir uma única barra invertida'''
print("Caminho do arquivo: C:\\arquivos\\documento.csv")

Caminho do arquivo: C:\arquivos\documento.csv

In [70]:
'''\" é usado para imprimir aspas duplas quando estamos trabalhando com uma string
criada a partir de aspas duplas "'''
print("Ouvi uma vez \"Os frutos do conhecimento são os mais doces e duradouros de todos.\"")

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

In [71]:
'''\' é usado para imprimir aspas simples quando estamos trabalhando com uma string
criada a partir de aspas simples ' '''
print('Minha professora uma vez disse \'Estudar é a chave do sucesso.\' ')

Minha professora uma vez disse 'Estudar é a chave do sucesso.'

#Desafio na Prática

In [2]:
'''Vamos praticar o uso de vários tipos de variáveis e da função input a partir de
algumas atividades. Solucione os problemas propostos em código.

Coleta e amostragem de dados
1- Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.'''
nome_usuario = input('Digite o seu nome: ')
print(f'Olá {nome_usuario}')

Digite o seu nome: Bárbara
Olá Bárbara

In [3]:
'''2- Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá,
[nome], você tem [idade] anos.”.'''
nome_2 = input('Digite o seu nome: ')
idade_2 = int(input('Digite a sua idade: '))
print(f'Olá {nome_2}, você tem {idade_2} anos.')

Digite o seu nome: Bárbara
Digite a sua idade: 29
Olá Bárbara, você tem 29 anos.

In [5]:
'''3- Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros,
e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.'''
nome_3 = input('Digite o seu nome: ')
idade_3 = int(input('Digite a sua idade: '))
altura_3 = float(input('Digite a sua altura: '))
print(f'Olá {nome_3}, você tem {idade_3} anos e mede {altura_3} metros!')

Digite o seu nome: Bárbara
Digite a sua idade: 29
Digite a sua altura: 1.58
Olá Bárbara, você tem 29 anos e mede 1.58 metros!

In [6]:
'''Calculadora com operadores
1- Crie um programa que solicite dois valores numéricos à pessoa usuária e
imprima a soma dos dois valores.'''
n1 = int(input('Digite um número: '))
n2 = int(input('Digite outro número: '))
soma = n1 + n2
print(f'A soma dos dois números que você escolheu é: {soma}')

Digite um número: 25
Digite outro número: 25
A soma dos dois números que você escolheu é: 50

In [7]:
'''2- Crie um programa que solicite três valores numéricos à pessoa
usuária e imprima a soma dos três valores.'''
n1_ = int(input('Digite um número: '))
n2_ = int(input('Digite outro número: '))
n3_ = int(input('Digite outro número: '))
soma_ = n1_ + n2_ + n3_
print(f'A soma dos dois três números que você escolheu é: {soma_}')

Digite um número: 10
Digite outro número: 20
Digite outro número: 30
A soma dos dois três números que você escolheu é: 60

In [8]:
'''3- Crie um programa que solicite dois valores numéricos à pessoa usuária
e imprima a subtração do primeiro pelo o segundo valor.'''
n_1 = int(input('Digite um número: '))
n_2 = int(input('Digite outro número: '))
sub = n_1 - n_2
print(f'A subtração do primeiro valor pelo segundo é: {sub}')

Digite um número: 50
Digite outro número: 25
A subtração do primeiro valor pelo segundo é: 25

In [9]:
'''4- Crie um programa que solicite dois valores numéricos à pessoa usuária
e imprima a multiplicação dos dois valores.'''
num_1 = int(input('Digite um número: '))
num2 = int(input('Digite outro número: '))
mult = num_1 * num2
print(f'A multiplicação dos números que você escolheu é: {mult}')

Digite um número: 5
Digite outro número: 9
A multiplicação dos números que você escolheu é: 45

In [10]:
'''5- Crie um programa que solicite dois valores numéricos, um numerador e um denominador,
e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.'''
numerador1 = int(input('Digite um número diferente de 0: '))
denominador1 = int(input('Digite outro número diferente de 0: '))
div = numerador1 / denominador1
print(f'A divisão dos números que você escolheu é: {div}')

Digite um número diferente de 0: 8
Digite outro número diferente de 0: 2
A divisão dos números que você escolheu é: 4.0

In [13]:
'''6- Crie um código que solicita 3 notas de um estudante e imprima a média das notas.'''
nota1 = float(input('Digite a nota 1 do aluno: '))
nota2 = float(input('Digite a  nota 2 do aluno: '))
nota3 = float(input('Digite a nota 3 do aluno: '))
media_ = (nota1 + nota2 + nota3) / 3
print(f'A media do aluno é: {media_}')

Digite a nota 1 do aluno: 8
Digite a  nota 2 do aluno: 7
Digite a nota 3 do aluno: 9
A media do aluno é: 8.0

In [15]:
'''Editando textos
1- Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha.
Em seguida, imprima a frase na tela.'''
frase = str('Eu sou uma, mas não sou só!')
print(frase)

Eu sou uma, mas não sou só!

In [16]:
'''2- Crie um código que solicite uma frase e depois imprima a frase na tela.'''
frase1 = str(input('Digite uma frase: '))
print(frase1)

Digite uma frase: Tenha a Crise do Riso!
Tenha a Crise do Riso!

In [18]:
'''3- Crie um código que solicite uma frase à pessoa usuária e imprima
a mesma frase digitada mas com todas as letras maiúsculas.'''
frase2 = str(input('Digite uma frase: '))
frase2 = frase2.upper()
print(frase2)

Digite uma frase: só quem é vai sentir
SÓ QUEM É VAI SENTIR

In [19]:
'''4- Crie um código que solicite uma frase à pessoa usuária e imprima a
mesma frase digitada mas com todas as letras minúsculas.'''
frase3 = str(input('Digite uma frase: '))
frase3 = frase3.lower()
print(frase3)

Digite uma frase: A MINHA PAZ É INEGOCIÁVEL
a minha paz é inegociável

In [20]:
'''5- Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha.
Em seguida, imprima a frase sem espaços em branco no início e no fim.'''
texto1 = str(' viver e não ter a vergonha de ser feliz ')
texto1 = texto1.strip()
print(texto1)

viver e não ter a vergonha de ser feliz

In [21]:
'''6- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma
frase sem espaços em branco no início e no fim.'''
texto2 = str(input('Digite uma frase com espaço no começo e no final:'))
texto2 = texto2.strip()
print(texto2)

Digite uma frase com espaço no começo e no final: a vacina salva, o que mata são as antigas do sorriso
a vacina salva, o que mata são as antigas do sorriso

In [23]:
'''7- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma
frase sem espaços em branco no início e no fim e em letras minúsculas.'''
texto3 = str(input('Digite uma frase com espaço no começo e no final:'))
texto3 = texto3.strip().lower()
print(texto3)

Digite uma frase com espaço no começo e no final: A GENTE MIRA NO AMOR
a gente mira no amor

In [24]:
'''8- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma
frase com todas as vogais “e” trocadas pela letra “f”.'''
texto4 = str(input('Digite uma frase que tenha a vogal E: '))
texto4 = texto4.replace('e','f')
print(texto4)

Digite uma frase que tenha a vogal E: Sou feliz e agradeço por tudo que Deus me deu.
Sou ffliz f agradfço por tudo quf Dfus mf dfu.

In [27]:
'''9- Crie um código que solicite uma frase à pessoa usuária e imprima a
mesma frase com todas as vogais “a” trocadas pela caractere “@”.'''
texto5 = str(input('Digite uma frase que tenha a vogal A: '))
texto5 = texto5.replace('a','@')
print(texto5)

Digite uma frase que tenha a vogal A: amar aprende amando
@m@r @prende @m@ndo

In [29]:
'''10- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma
frase com todas as consoantes “s” trocadas pelo caractere “$”.'''
texto6 = str(input('Digite uma frase que tenha a consoante S: '))
texto6 = texto6.replace('s','$')
print(texto6)

Digite uma frase que tenha a consoante S: saudades do tempo, dos velhos momentos
$audade$ do tempo, do$ velho$ momento$